/*==============================================================
            SLFWPM by Vaaseto, Vasil Slavchev 2014
==============================================================*/
/*
 * -------------------- This is style.css ----------------------
 * SLFWPM - Simple Login Form With PM Messages by Vaseto.net
 * This is config file for Simple PM Message by Vaseto^^ 2014.
 * More at: (VasilSLavchev.net or vasilslavchev@gmail.com).
 * https://bitbucket.org/VasilSlavchev/simpleloginformwithpm
 * This project is under creative commons license: CC BY-NC-SA.
 * https://creativecommons.org/licenses/by-nc-sa/2.5/bg/
 * https://creativecommons.org/licenses/by-nc-sa/2.5/bg/deed.en
 * ------------------- This is style.css -----------------------
 */
 /*==============================================================
                    Body
==============================================================*/
body {
    width: auto;
    height: auto;
    color: #404040;
   /* background-image: url('../images/background2.jpg');*/
}

.wrapper {
    margin: 0 auto;
    padding: 0px;
    height: 100%;
    width: 800px;
}

.wrapper-background {
    background-image: url('../images/background_square.png');
/*    background-image: url('../images/probno.png');*/
/*    background: #0ca3d2;
    opacity: 0.6;*/
}

.wrapper-background2 {
    background-image: url('../images/probno.png');
    background: #0ca3d2;
    opacity: 0.8;
}

.rounds {
    border:3px solid white;
    border-radius: 15px;
}

/*==============================================================
                    //Header//
==============================================================*/
.header {
    margin: 0 auto;
    height: 100px;
    border: 1px solid red;
}
.header ul {
    margin: 15px;
    margin-left: 135px;
/*    padding: 15px;*/
    text-decoration:none;
    list-style-type: none;
}

.header ul li {
    display: inline;
    padding: 5px;
}

.header ul li a{
    display: inline;
    list-style-type: none;
    color: white;
}

.header ul  a:hover {
    color: red;
}

/*==============================================================
                    //Container//
==============================================================*/
.container {
    margin: 10px auto;
    height: 400px;
    width: 800px;
/*    background: #0ca3d2;*/
    border-radius: 20px;
}

.content {
    padding: 10px 0 0 35px;
}

/*==============================================================
                    //Messages//
==============================================================*/
.messages {
    width: 310px;
    background: #76EE00;
    border-radius: 20px;
}

/*==============================================================
                    //Login//
==============================================================*/
.login {
    margin: 0px auto;
    padding: 20px 20px 20px;
    width: 310px;
    background: white;
    border-radius: 5px;
    top: 50px;
}


h1 {
    margin: 0;
    line-height: 40px;
    font-size: 15px;
    font-weight: bold;
    color: #555;
    text-align: center;
}

p { margin: 20px 0 0; }

input[type=text], input[type=password] { width: 278px; }

p.remember_me {
    float: left;
    line-height: 31px;

    label {
        font-size: 12px;
        color: #777;
        cursor: pointer;
    }

    input {
        position: relative;
        bottom: 1px;
        margin-right: 4px;
        vertical-align: middle;
    }
}

    p.submit {
        margin-left: 150px;
    }
}

input {
    font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
    font-size: 14px;
}

input[type=text], input[type=password] {
    margin: 5px;
    padding: 0 10px;
    width: 200px;
    height: 34px;
    color: #404040;
    background: white;
    border: 1px solid;
    border-color: #c4c4c4 #d1d1d1 #d4d4d4;
    border-radius: 2px;
}

input[type=submit] {
    padding: 0 25px;
    height: 30px;
    font-size: 12px;
    font-weight: bold;
    color: #527881;
    background: #cde5ef;
    border: 1px solid;
    border-color: #b4ccce #b3c0c8 #9eb9c2;
    border-radius: 16px;
    outline: 0;
}

/*==============================================================
                    //Footer//
==============================================================*/
.footer {
    margin: 0 auto;
    height: 50px;
    width: 800px;
    background: #0ca3d2;
    border-radius: 20px;
}

/*==============================================================
                    //Mobile support//
==============================================================*/
@media {}

@-o-viewport {
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}

@-webkit-viewport{
    width: device-width;
}

@media screen and (max-device-width: 480px) {
    @-o-viewport {
        width: 480px;
    }

    @-ms-viewport {
        width: 480px;
    }

    @-webkit-viewport {
        width: 480px;
    }
}


@media all and (max-width: 600px) {
    body {
        // extra styles for mobile
    }

    @-o-viewport {
        width: 600px;
    }

    @-ms-viewport {
        width: 600px;
    }

    @-webkit-viewport {
        width: 600px;
    }
}

@media all and (min-width: 600px) {
    body {
        // extra styles for desktop
    }

    @-o-viewport {
        width: 600px;
    }

    @-ms-viewport {
        width: 600px;
    }

    @-webkit-viewport {
        width: 600px;
    }
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}

/*==============================================================
                    End of style sheet.
==============================================================*/