/*==============================================================
            SLFWPM by Vaseto, Vasil Slavchev 2014
==============================================================*/
/*
 * -------------------- This is styles.css ---------------------
 * SLFWPM - Simple Login Form With PM Messages by Vaseto.net
 * This is config file for Simple PM Message by Vaseto^^ 2014.
 * More at: (VasilSlavchev.info or vasilslavchev@gmail.com).
 * https://bitbucket.org/VasilSlavchev/simpleloginformwithpm/
 * This project is under creative commons license: CC BY-NC-SA.
 * https://creativecommons.org/licenses/by-nc-sa/2.5/bg/
 * https://creativecommons.org/licenses/by-nc-sa/2.5/bg/deed.en
 * ------------------- This is styles.css ----------------------
 */
 /*==============================================================
    Body
==============================================================*/
body {
    width: auto;
    height: auto;
    color: #404040;
}

body h1 {
    color: #ffffff;
}
body ul li {
    color: #ffffff;
}

.wrapper {
    margin: 0 auto;
    padding: 0px;
    width: 800px;
}

.wrapper-background {
    background-image: url('../images/background_square.png');
    /*background: #0ca3d2; opacity: 0.6;*/
}

.wrapper-background2 {
    background-image: url('../images/50x50px-blue.png');
    background: #0ca3d2;
    opacity: 0.8;
}

.rounds {
    border:3px solid white;
    border-radius: 15px;
}

.center {
    text-align: center;
}

/*==============================================================
    Header
==============================================================*/
.header {
    margin: 0 auto;
    /*height: 100px;*/
    /*width: 100%;*/
}

.header .logo {
    position: absolute;
    top: 15px;
    left: 290px;
    float: left;
    width: 85px;
    height: 85px;
}

.header h1 {
    font-size: 24px;
}

.header ul {
    margin: 15px;
    margin-left: 100px;
    text-decoration:none;
    list-style-type: none;
    padding: 0 0 0 0;
}

.header ul li {
    display: inline;
    padding: 5px;
}

.header a {
    color: #ffffff;
    display: inline;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    list-style-type: none;
}

.header ul  a:hover {
    color: red;
}

/*==============================================================
    Container
==============================================================*/
.container {
    margin: 10px auto;
    height: 400px;
    width: 800px;
    border-radius: 20px;
/*    background: #0ca3d2;*/
}

/*==============================================================
    Content
==============================================================*/
.content {
    padding: 5px 5px 5px 5px;
}

/*==============================================================
    Users
==============================================================*/
.users {
    margin: 15px 15px 15px 15px;
    padding: 5px 5px 5px 5px;
    border-spacing: 0px;
    background: #ffffff;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

.users table, th, td {
    margin: 10px auto;
    border: 1px groove #0ca3d2;
}

.users th {
    background-color: #0ca3d2;
    border: 1px groove #0ca3d2;
    color: white;
}
/*==============================================================
    Messages
==============================================================*/
.messages {
    margin: 20px auto;
    width: 310px;
    padding: 20px 20px 20px;
    background: #76EE00;
    border-radius: 20px;
    border: 1px solid red;
}

/*==============================================================
    Login
==============================================================*/
.login {
    margin: 30px auto;
    top: 50px;
    width: 350px;
    padding: 20px 20px 20px;
    background: #fff;
    border-radius: 10px;
}

.register {
    margin: 0px auto;
    padding: 20px;
    top: 50px;
    width: 450px;
    height: 300px;
    background: #fff;
    border-radius: 10px;
}

.register fieldset {
    border: hidden;
    float: right;
    margin: 0;
    padding: 0;
    height: 40px;
}

.register .button {
    position: relative;
    left: 0px;
    top: 50px;
    float: right;
    border: 1px solid #0ca3d2;
}
/*==============================================================
    Forms
==============================================================*/
h1 {
    margin: 0;
    line-height: 40px;
    font-size: 15px;
    font-weight: bold;
    color: #555;
    text-align: center;
}

p { margin: 20px 0 0; }

input[type=text], input[type=password] {
    width: 278px;
}

.remember_me {
    float: left;
    line-height: 31px;
}

label {
    font-size: 12px;
    color: #777;
    cursor: pointer;
}

input {
    position: relative;
    bottom: 1px;
    margin-right: 4px;
    vertical-align: middle;
}

.submit {
    margin-left: 150px;
}

input {
    font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
    font-size: 14px;
}

input[type=text], input[type=password] {
    margin: 5px;
    padding: 0 10px;
    width: 200px;
    height: 34px;
    color: #404040;
    background: white;
    border: 1px solid;
    border-color: #c4c4c4 #d1d1d1 #d4d4d4;
    border-radius: 2px;
}

input[type=submit] {
    padding: 0 25px;
    height: 30px;
    font-size: 12px;
    font-weight: bold;
    color: #527881;
    background: #cde5ef;
    border: 1px solid;
    border-color: #b4ccce #b3c0c8 #9eb9c2;
    border-radius: 16px;
    outline: 0;
}

/*==============================================================
    Footer
==============================================================*/
.footer {
    margin: 0 auto;
    height: 50px;
    width: 800px;
    background: #0ca3d2;
    border-radius: 20px;
}

.footer ul {
    text-align: center;
    list-style-type: none;
}

.footer ul li {
    text-align: center;
    display: inline-block;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    color: red;
}

/*==============================================================
    Media query - Mobile support.
==============================================================*/
@media only screen and (max-width : 219px) {
    body {
        width: 98%;
        height: 99%;
        margin: 0;
        padding: 0;
    }

    .header {
        width: 100%;
        height: 100%;
    }

    .header  ul  li  a {
        position: relative;
        left: -100px;
        display: block;
        top: 0;
        right: 0;
        padding-right: 8px;
    }
}


@media screen and (max-device-width: 320px) {
    body {
        width: 96%;
        height: 96%;
        background-size: 100%;
        margin: 0;
        padding: 0;
    }

    body h1,p ,ul, li, a{
        color: #fff;
        padding: 2px;
    }

    .header {
        width: 100%;
        height: 75%;
    }

    .header  ul  li  a {
        position: relative;
        display: inline-block;
        right: 60px;
        padding-right: 9px;
    }

    .container {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: scroll;
    }

    .footer {
        width: 100%;
        height: 15%;
        margin: 0;
        padding: 0;
    }
}

@media screen and (min-width: 321px) and (max-device-width: 480px) {
    body {
        width: 110%;
        height: 110%;
        background-size: 100%;
    }

    .header {
        width: 85%;
        height: 33%;
        margin: 0;
        padding: 0;
    }

    .header  ul  li  a {
        position: relative;
        display: inline-block;
        top: 0;
        right: 70px;
        padding-right: 8px;
    }
    .container {
        width: 85%;
        height: 110%;
        margin: 0;
        padding: 0;
        overflow: scroll;
    }

    .footer {
        width: 85%;
        height: 15%;
        margin: 0;
        padding: 0;
    }
}


@media screen and (min-width: 481px) and (max-device-width: 599px) {
    body {
        width: 96%;
        height: 96%;
        background-size: 100%;
    }

    .header {
        width: 100%;
        height: 30%;
    }

    .header  ul  li  a {
        position: relative;
        display: inline-block;
        top: 0;
        right: 60px;
        padding-right: 8px;
    }
    .container {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: scroll;
    }

    .footer {
        width: 100%;
        height: 30%;
        margin: 0;
        padding: 0;
    }
}


@media screen and (min-width: 600px) and (max-device-width: 799px) {
    body {
        width: 96%;
        height: 96%;
        background-size: 100%;
    }

    .header {
        width: 100%;
        height: 35%;
    }

    .header  ul  li  a {
        position: relative;
        display: inline-block;
        top: 0;
        right: 60px;
        padding-right: 8px;
    }
    .container {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: scroll;
    }

    .footer {
        width: 100%;
        height: 20%;
        margin: 0;
        padding: 0;
    }
}


@media screen and (min-width: 800px) and (max-device-width: 1000px) {
    body {
        width: 96%;
        height: 96%;
        background-size: 100%;
    }

    .header {
        width: 100%;
        height: 35%;
    }

    .header  ul  li  a {
        position: relative;
        display: inline-block;
        top: 0;
        right: 60px;
        padding-right: 8px;
    }
    .container {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: scroll;
    }

    .footer {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
}


/*
@media all and (max-width: 600px) {
    body {
        width: device-width;
    }
    width: device-width;
}

@media all and (min-width: 600px) {
    body {
        width: device-width;
    }
    width: device-width;
}

@media all and (min-width: 700px) {
    body {
        width: device-width;
    }
    width: device-width;
}
*/

/*==============================================================
    Mobile support - Iphone, tablets, desktop.
==============================================================*/
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 321px) and (max-width : 480px) {
    body {
        width: device-width;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    body {
        width: device-width;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    body {
        width: device-width;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) {
    body {
        width: device-width;
    }
}

/* iPads (landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {
    body {
        width: device-width;
    }
}

/* iPads (portrait) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {
    body {
        width: device-width;
    }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    body {
        width: device-width;
    }
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    body {
        width: device-width;
    }
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
    body {
        width: device-width;
    }
}
/*==============================================================
    End of style sheet.
==============================================================*/